@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-heavy: #151d29;
  --background: #1e293b;

  --foreground: #fffe;
  --foreground-light: #fff5;

  --glow: #0ea5e9;

  --card-border-color: #e2e8f033;

  --grid-image: repeating-linear-gradient(315deg, var(--foreground-light), transparent 1px, transparent 10px, var(--background) 11px);
}

body {
  color: var(--foreground);
  background-color: var(--background-heavy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05em;
  text-wrap: balance;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1.3rem;
}

a {
  color: var(--glow);
}

a:hover {
  text-decoration: underline;
}

span {
  color: var(--glow);
}

/* Animaciones css genericas  */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animaciones para componente title */

@keyframes title-blinking-cursor {
  0% {
    opacity: 0.05;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.05;
  }
}

/* Light mode */

@media(prefers-color-scheme: light) {
  :root {
    --background-heavy: #fff;
    --background: #f1f1f1;

    --foreground: #000;
    --foreground-light: #494949;
  }
}